@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }
}

body {
  font-family: "Rethink Sans", system-ui;
  background: #f9f9f9;
}
